* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: #f9f9f9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create-post {
  margin: 50px auto;
  width: 60%;
  min-height: 150px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 1px 15px rgba(4, 21, 24, 0.2);
}
.createpost{
  width: 100%;
  height: 150px;
  padding: 15px 180px;
  outline: none;
  border: none;
}

.create {
  font-family: lato;
  font-size: 18px;
  color: #333333;
  padding: 10px;
  background-color: #eee;
}

.addPropsalbtn {
  position: absolute;
    bottom: 45px;
    right: 160px;
    width: 500px;
    height: 40px;
    background: #0F9CAF;
    border-radius: 6px;
    border: none;
    font-family: lato;
    font-size: 18px;
    color: white;
    cursor: pointer;
    z-index: 3;
}
.addPropsalbtn:hover {
  background: rgb(6, 115, 129);
}

.form-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #33333361;
  border: 3px solid #33333361;
  z-index: 9;
}

.form-container {
  margin: 5% auto;
  max-width: 70%;
  background-color: white;
  min-height: 250px;
  border-radius: 5px;
  padding: 1px;
  position: relative;
  padding-bottom: 20px;
}

.pop-title {
  font-family: lato;
  font-size: 25px;
  color: #333333;
  padding: 10px;
  background-color: #eee;
}

.inputsdiv {
  display: flex;
  vertical-align: middle;
}

.lbl {
  padding-left: 20px;
  padding-top: 27px;
  width: 50px;
  font-family: lato;
  color: #333333;
  font-size: 18px;
}

.lbldesc {
  padding-left: 20px;
  padding-top: 30px;
  width: 50px;
  font-family: lato;
  color: #333333;
}
.lblspecial{
  padding-top: 30px;
  width: 50px;
  font-family: lato;
  color: #333333;
  font-size: 18px;
}

.form-container input[type=text] .requirment #requirment{
  max-width: 50%;
  min-width: 50%;
  padding: 15px;
  margin: 16px 35px 14px 80px;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
  font-family: lato;
}

.form-container input[type=text],
.form-container input[type=password],
.form-container  textarea[type=text],
.form-container  select {
  width: 60%;
  outline: none;
  height: 40px;
  padding: 10px;
  margin: 20px 35px 14px 80px;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
  font-family: lato;
}
.form-container .specaildrop{
  max-width: 60%;
  min-width:60%;
  padding: 8px;
  margin: 20px 35px 14px 73px;
  border-radius: 4px;
  border: none;
  background: #f1f1f1;
  font-family: lato;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 10px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  font-family: lato;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #0F9CAF;
}
.form-container .addbtn {
  background-color: #0F9CAF;
  color: white;
  font-family: lato;
  font-size: 16px;
  padding: 5px 20px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin: 20px -5px;
  width: 150px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #ff0000b5;
  margin-left:  10px;
  position: absolute;
  top: 5px;
  right: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.card{
  width: 60%;
  margin: 100px auto;
}

.card h3{
  border-bottom: 2px solid black;
  padding: 10px 0;
}

.content{
  margin: 30px 0;
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgb(160, 157, 157);
  min-height: 250px;
}
.img{
  width: 50px;
  height: 50px;
  background: #0F9CAF;
  border-radius: 50%;
}

.username-spec{
  position: absolute;
  top: 20px;
  left: 90px;
  
}
.head-content{
  height: 80px;
  background: #EEEEEE;
  padding: 15px 30px;
  border-radius: 5px 5px 0 0;
}
.description{
  padding: 30px;
}
.content a{
  color: #0F9CAF;
  text-decoration: none;
}

.navbar{
  background: #0F9CAF;
  height: 80px;
  width: 100%;
  position: relative;
}
.navbar img{
  height: 150px;
  width: 130px;
  position: absolute;
  top: -40px;
  left: 40px;
}
.navbar #nav #left input{
  position: absolute;
  left: 258px;
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  top: 20px;
  width: 400px;
}
.navbar #nav #right{
  position: absolute;
  right: 50px;
  top: 30px;
}

#right ul li{
  float: left;
  padding: 0 50px;
  list-style-type: none;
  color: white;
}
#right ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#right ul li a img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0F22AF;
  margin: 25px 100px;
}

.btncreate{
  margin-right: 28px;
  padding: 10px 15px;
  width: 150px;
  margin-top: -35px;
}
.require{
  display: block;
  height: 40px;
  width: 200px;
  margin: -80px 0 20px 130px;
  
}