* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.contaier {
  display: flex;
}

/* profile sidebar*/
.sidebar {
  width: 15rem;
  min-height: 100vh;
  background: url('https://images.unsplash.com/photo-1511619203235-41ec2fe54782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80'), #303030;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar::before {
  width: 14.38rem;
  height: 100vh;
  background-color: rgba(1, 38, 43, 0.8);
  position: absolute;
  content: '';
}

.sidebar-img {
  position: absolute;
  width: 180px;
  left: 35px;
  top: 35px;
  border-radius: 50%;
  border: 2px solid rgba(1, 38, 43, 0.8);
}

/* username */
.username {
  position: absolute;
  left: 60px;
  top: 250px;
  font-family: Lato;
  font-size: 20px;
  line-height: 0px;
  letter-spacing: 0.04em;
  color: #F0F0F0;
}

.sepecalization {
  position: absolute;
  left: 90px;
  top: 270px;
  font-family: Lato;
  font-size: 12px;
  text-align: center;
  text-indent: 5px;
  color: #FFFFFF;
  text-decoration: underline;
}

.nav {
  position: absolute;
  left: 50px;
  top: 350px;
  list-style-type: none;
}

.nav li {
  border-left: 3px solid #F2F2F2;
  padding-left: 15px;
  padding-top: 5px;
  margin: 9px;
  padding-bottom: 5px;
  color: #F0F0F0;
  font-family: lato;
}

.nav li:hover {
  border-left: 3px solid #0F9CAF;
  color: #0F9CAF;
}

/** content bage ...**/
.main {
  width: 61.5rem;
  background-color: #f9f9f9;
  height: 100vh;
}

/* Posts */
.page-header {
  position: absolute;
  left: 330px;
  top: 50px;
  font-family: Lato;
  font-size: 36px;
  color: #333333;
  border-bottom: 2px solid #333;
}

.proposal {

  width: 700px;
  min-height: 160px;
  margin-left: 150px;
  margin-top: 200px;
  background: white;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.proposal:hover {
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.25);
  ;
}

.userinfo {
  display: flex;
}

.prop-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
  border: 1px solid #062023;
}

.prop-username {
  /* User name */
  font-family: Lato;
  font-size: 15px;
  color: #333333;
  vertical-align: middle;
  transform: matrix(1, -0.01, 0.01, 1, 0, 0);
  margin-top: 30px;

}

.prop-description {
  margin: 0 15px 25px 15px;
  font-family: Lato;
  font-size: 15px;
  color: #636363;
}
.prop-more{
  color: #0F9CAF;
  font-weight: bold;
  text-decoration: none;
}
.prop-more:hover{
  color: #007683;
  text-decoration: underline;