<form id="loginForm" class="loginForm">
  <h1>Login</h1>
  <div class="emailDiv">
    <label for="email">Email</label>
    <input id="email" type="email" name="email" placeholder="Enter your email" required>
  </div>
  <div class="passwordDiv">
    <label for="password">password</label>
    <input id="password" type="password" name="password" placeholder="Enter your password" required>
  </div>
  <button class="btn_login" id="btn_login">Login</button>
</form>
