<div class="signUpContainer">
   <h1>Sign Up</h1>
   <div id="section1" class="section1">
      <div class="firstname">
         <label for="firstname">First Name :
         <input id="userfirstname" class="userfirstname" type="text" id="firstname" placeholder="Enter Your First Name" required>
         </label>
      </div>
      <div class="lastname">
         <label for="lastname">Last Name :
         <input id="userlirstname" class="userlirstname" type="text" name='lastname' id="lastname" placeholder="Enter Your Last Name" required>
         </label>
      </div>
      <div class="mobile">
         <label for="mobile"> Mobile NO. : 
         <input class="fields" type="text" name='mobile' id="mobile" placeholder="Enter Your Mobile Number" required>
         </label>
      </div>
      <div class="email">
         <label for="email">E-mail : 
         <input class="userEmail" type="text" name='email' id="email" placeholder="example@hotmail.com" required>
         </label>
      </div>
      <input type="submit" value="Next" id="next1">
      <p> You already have an account ? <a href="/login">Sign In</a> </p>
   </div>
   <div id="section2" class="section2">
      <div class="category">
         <label> Category : </label>
         <select id="categoryFields" class="categoryFields">
            <option>  </option>
            <option id="webDeveloper"> Web Developer </option>
            <option id="uxUiDesigner"> UX/UI Designer </option>
            <option id="translator"> Translator </option>
            <option id="systemAnalyst"> System Analyst </option>
         </select>
      </div>
      <div class="specialization">
         <label> Specialization : </label>
         <select id="specializationFields" class="specializationFields">
            <option> </option>
            {{#each specId}}
            <option class="spec"> {{this}}</option>
            {{/each}}
         </select>
      </div>
      <div class="socialUrl">
         <label for="userUrl">LinkedIn, GitHub, etc. profile URL : 
         <input id="userUrl" class="userUrl" type="text" name='userUrl' id="userUrl" placeholder="Example: https://github.com/Someone" required>
         </label>
      </div>
      <div class="photoUrl">
         <label for="userPhoto">Photo URL : 
         <input id="userPhoto" class="userPhoto" type="text" name='userPhoto' id="userPhoto" placeholder="Enter Your Photo Url" required>
         </label>
      </div>
      <input type="submit" value="Back" id="back1">
      <input type="submit" value="Next" id="next2">
   </div>
   <div id="section3" class="section3">
      <div class="password">
         <label for="p=ass">Password
         <input id="userPassword" class="userPassword" type="password" name='pass' id="password" placeholder="Enter Your Password" required>
         </label>
      </div>
      <div class="password">
         <label for="confirmPass">Confirm Your Password 
         <input id="confirmPass" class="confirmPass" type="password" name='confirmPass' id="confirmPass" placeholder="Confirm Your Password" required>
         </label>
      </div>
      <input type="submit" value="Back" id="back2">
      <input type="submit" value="Sign Up" id="signUpBtn">
   </div>
</div>

