<div class="navbar">
    <nav id="nav">
        <div id="left">
            <img src="https://i.imgur.com/eS3vlpV.png">
            <input type="text" placeholder="Search.." class="fa fa-search"></input>
        </div>
        <div id="right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile"><img src="{{userinfo.photo_url}}">{{ userinfo.firstname }} {{userinfo.lastname}}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>