
<img src="userinfo.photo_url" alt="" srcset="" class="sidebar-img">

<h3 class="username">
 {{ userinfo.firstname }}  {{ userinfo.lastname}} 
</h3>
<h4 class="sepecalization">
 {{{ userinfo.name }}}
</h4>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/profile">Profile</a></li>
  <li> <a href="/settings">Settings</a></li>
  <li><a href="/logout">logout</a></li>
</ul>
