<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
   <div class='rigth'>
      <div class="bg">
         <div class="logo">
            <img src="https://i.imgur.com/eS3vlpV.png">
         </div>
         <p class="about">Our community aims to connect freelancers<br>
            togothers to be able to cooperate and<br>
            accomplish jobs to make money .</p>
      </div>
   </div>
   {{{body}}}
   {{> script}}
</body>

</html>
