<!DOCTYPE html>
<html lang="en">
      {{> head}} 
   <body>
      <div class='right'>
         {{!-- code here --}}
      </div>
      <div class='left'>
      {{{body}}}
      </div>
      {{> footer}}
      {{> script}}
   </body>
</html>

