<!DOCTYPE html>
<html lang="en">
   <head>
      {{>head}}
      <title> {{title}} </title>
      <link rel="stylesheet" href="./css/{{css}}.css">
   </head>
   <body>
      {{{body}}
      <script src="./js/{{js}}.js"></script>
   </body>
</html>

