<!DOCTYPE html>
<html lang="en">
      {{> head}} 
   <body>
      {{{body}}}
      {{> footer}}
      {{#each js}}
      <script type="text/javascript" src="/js/{{this}}.js"></script>
      {{/each}}
   </body>
</html>

