<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
   <div class="contaier">
      <div class="sidebar">
         {{> sidebar}}
      </div>
      <div class="main">
         {{{body}}}
      </div>
      {{> script}}
   </div>
</body>

</html>